@mixin right-left-angle-crop($width, $height, $color) {
  -width: $width;
  height: $height;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 $height $width;
  border-color: transparent transparent $color transparent;
}

@mixin transition-ease-out($type, $speed, $important: false){
  @if $important {
    transition: $type $speed ease-out !important;
  }
  @else {
    transition: $type $speed ease-out;
  }
}

@mixin dynamic-button-style($border_color, $color, $hover_bg_color, $hover_color){
  .btn-dynamic{
    border: 3px solid $border_color;
    color: $color;

    &:hover{
      color: $hover_color;
    }
    &:after{
      background: $hover_bg_color;
    }
  }

}

@mixin dynamic-font-size($font-size, $important: false, $relative: false)
{
  @if $relative{
    @media screen and (max-width: 600px) {
      @if $important {
        font-size: $font-size / 1.3 !important;
      }
      @else {
        font-size: $font-size / 1.3;
      }
    }
    @media screen and (min-width: 600px) {
      @if $important {
        font-size: $font-size !important;
      }
      @else {
        font-size: $font-size;
      }
    }
  }
  @else{
    @if $important {
      font-size: $font-size !important;
    }
    @else {
      font-size: $font-size;
    }
  }
}


@mixin tcon-menu-lines($bg_color) {
  display: inline-block;
  height: ($tcon-size / 10);
  width: $tcon-size;
  border-radius: $tcon-menu-radius;
  transition: $tcon-transition;
  background: $bg_color;
}