@import "bootstrap";


.inner-page{

  .page-container{

    .page-content{
      @include scale-font(1.6);
      line-height: 2rem;
      width: 100%;

      @media screen and (min-width: $screen-sm ){
        margin-top: 80px;
      }

      @media screen and (max-width: $screen-sm ){
        margin-top: 0px;
      }

      display: inline-block;

      @media screen and (min-width: $screen-sm){
        width: 700px;
      }

      @media screen and (min-width: $screen-md){

        width: 944px;
      }

      @media screen and (min-width: $screen-lg){

        width: 944px;
      }

      @media screen and (min-width: 1680px){
        width: 1320px;
      }
    }

    .rooms-view{
      .room-attributes{
        margin-top: 30px;
      }
    }


    ul.nav-tabs{
      border-bottom-style: dotted;
      border-bottom-width: 1px;
      border-bottom-color: #826B4B;
      li{
        float: right;
        outline: none;
        margin-bottom: 0px;

        a{
          border: none;
          padding: 5px 15px;
          @media screen and (max-width: 1680px){
            padding-right: 0px;
          }
          &:hover{
            border: none;
          }
          img{
            vertical-align: text-bottom;
            max-height: 49px;
          }
          span{
            @include scale-font(2.5);
            color: #CAC0B4;
            opacity: 0.85;
            font-weight: bold;
          }

          img:first-child
          {
            height: 28px;
            display: block !important;
            margin: 0 auto;
            margin-bottom: 3px;
            @media screen and (min-width: $screen-xs-max) and (max-width: $screen-md-max){
              margin-bottom: 8px;
            }

            @media screen and (max-width: $screen-xs-max){
              max-height: 15px;
            }

            &+span{
              display: inline;
              text-transform: uppercase;
              @include scale-font(1.5);


              @media screen and (max-width: $screen-lg){
                @include scale-font(1.5);
              }
            }
          }

          @media screen and (min-width: $screen-sm) and (max-width: $screen-lg){
            padding: 10px;
          }
        }
      }

      li{
        &:not(.wide)
        {
          a{
            img{
              &:not(:first-child) {
                @media screen and (max-width: $screen-xs-max){
                  max-height: 30px;
                }
              }
            }
            @media screen and (max-width: 360px){
              padding-left: 5px;
              span{
                @include scale-font(1.6);
              }
            }
            @media screen and (min-width: 360px) and (max-width: $screen-xs){
              padding-left: 10px;
            }
          }
        }
      }

      li.active{
        a{
          span{
            color: #856C4D;
            opacity: 1;
          }
        }
      }
    }

    .gallery{
      .img-title{
        width: 100%;
        max-height: 378px;
      }
    }

    ul.thumbnails{
      margin-top: 10px;
      li{
        a{
          padding: 15px 0px;

          img{
            max-width: 100%;
            width: 100%;
          }
        }
      }
    }

    .select-tabs{
      .tabs-title{
        position: absolute;
        top: 35px;
        @include scale-font(2.6);
        color: #383838;
        text-transform: uppercase;

        @media screen and (max-width: $screen-lg) {
          top: 75px;
        }

        @media screen and (max-width: $screen-md) {
          top: 60px;
        }

        @media screen and (max-width: $screen-lg) {
          position: relative;
          top: 0;
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }

      .tab-content{
        .tab-pane{
          margin-top: 55px;

          .tab-text{
            @include scale-font(1.6);
            color: #000000;
            font-weight: lighter;

            h1{
              margin-top: 0px;
            }
          }
        }
      }
    }

    .select-tabs{
      ul.nav-tabs{
        li{
          .tab-ico{
            opacity: 0.50;
          }
        }
        li.active{
          .tab-ico{
            opacity: 1;
          }
        }
        li.wide{
          @media screen and (min-width: $screen-xs){
            margin-left: 65px;
          }
          @media screen and (min-width: $screen-md) and (max-width: $screen-lg){
            margin-left: 0px;
          }
        }
      }
    }

    .list-description{
      margin-bottom: 25px;
      h4.title{
        @include scale-font(1.6);
        font-weight: bold;
        color: #1d1d1b;
        text-transform: uppercase;
        text-align: left;
      }
      ul{
        li{
          @include scale-font(1.6);
          line-height: 22px;
          padding-right: 30px;
          color: #1d1d1b;
          opacity: 0.85;
        }
      }
    }
  }

  .reservation-form{
    margin: 0 auto;
    margin-bottom: 170px;

    @media screen and (max-width: $screen-md){
      margin: 15px;
      margin-top: 30px;
    }
    @media screen and (min-width: $screen-md){
      width: 300px;
      margin-bottom: 0;
    }
    @media screen and (min-width: $screen-llg){
      width: 400px;
    }
    @media screen and (min-width: 1750px){
      width: 500px;
    }
    //@media screen and (min-width: 1430px){
    //  width: 500px;
    //}
    @media screen and (min-width: $screen-md){
      position: fixed;
      top: 0;
      bottom: 0;
      border-right: none;
    }
    @media screen and (min-width: $screen-md){
      right: 0px;
    }
    @media screen and (min-width: $screen-md) and (max-height: 850px){
      overflow-y: scroll;
      right: -15px;
    }
  }
}


.page-container{

  //@include scale-font(2.6);

  @media screen and (max-width: $screen-sm){
    margin-top: 80px;
  }

  .page-content{
    h4.title{
      margin-top: 0px;
      margin-bottom: 30px;
      @include scale-font(1.6);
      text-transform: uppercase;
      font-weight: bold;
      //text-align: center;
      color: #000000;
    }
    .menu-navigation{
      margin-bottom: 28px;

      ul{
        li{
          text-align: center;
          a{
            padding: 0px;
          }
          img{
            margin-bottom: 15px;
            width: 46px;
            height: 46px;
          }
          span{
            @include scale-font(1.6);
            color: #000000;;
            word-wrap: normal;
          }
        }
      }
    }
  }

  .conference-view{

    ul.nav-tabs{
      li{
        a{
          span{
            @include scale-font(4);
            opacity: 0.85;
            text-transform: lowercase;
            font-weight: 300;
            @media screen and (max-width: $screen-xs-min){
              @include scale-font(2);
            }
          }
        }
      }
      li.active{
        a{
          span{
            @include scale-font(4.6);

            @media screen and (max-width: $screen-xs-min){
              @include scale-font(2.6);
            }
          }
        }
      }
    }

    .plan-list{
      ul{
        li{
          img{
            display: block;
            margin: 0 auto;
            margin-bottom: 30px;
            width: 62px;
            height: 42px;
          }
          span{
            @include scale-font(1.6);
            color: #000000;;
          }
          text-align: center;
          padding: 0 0 25px 0 ;
          @media screen and (max-width: $screen-sm){
            min-height: 145px;
          }
        }
      }
    }
  }


  .news-view,
  .restaurant-view{
    .panel{
      border: none;
      box-shadow: none;
      border-bottom: 1px dotted #826B4B;
    }
    .panel-body{
      padding: 0px;
      padding-top: 5px;
    }
  }


  .collapse{
    &:not([aria-expanded="true"])
    {
      display: block;
      min-height: 115px;
      overflow: hidden;
      max-height: 115px;
    }
  }

  .news-list{
    .article{
      padding: 15px;
      padding-left: 0px;
      .image{
      }
      .description{
        h4.title{
          margin-bottom: 5px;
          text-align: left;
        }
        .date{
          @include scale-font(1.4);
          font-weight: bold;
          color: #856c4e;
        }
        .content{
          @include scale-font(1.6);
          color: #1d1d1b;
          opacity: 0.85;
        }
        .full-content{
          display: none;

          ul{
            padding-left: 17px;
            list-style-type: none !important;
            position: relative;
            li{
              &:before{
                content: "";
                width: 5px;
                height: 5px;
                background: #8B6B45;
                position: absolute;
                left: 0;
                top: 5px;
              }
            }
          }
        }
      }
      .control{
        text-align: center;
        @media screen and(max-width: $screen-llg){
          padding: 0;
        }

        a{
          max-width: 75px;
          display: block;
          background-color: #BABABA;

          span{
            display: block;
            margin-bottom: 40px;
            padding-top: 15px;
            @include scale-font(1.4);
            color: #ffffff;
            @media screen and(max-width: $screen-lg){
              display: none !important;
            }
          }
          img{
            padding-top: 5px;
            padding-bottom: 5px;

            @media screen and(max-width: $screen-lg){
              width: 70%;
            }
          }
        }
      }
    }
  }
}